<form {{action "addBookmark" on="submit"}}>
  <label>Nickname</label>
  {{input class="bookmark-submit" type="text" value=nickname}}
  <label>URL</label>
  {{input class="bookmark-submit" type="text" value=url}}
<button>submit</button>
</form>
{{#each model as |mark|}}
<a href="{{mark.url}}">{{mark.nickname}}</a><br>
{{/each}}
{{outlet}}
