<form class="contact-form" {{action "addPerson" on="submit"}}>
<label class="contact-form__label-fn">First Name</label>
{{input   class="contact-form__label-fn-in" type="text" value=firstName}}

  <label class="contact-form__label-ln">Last Name</label>
{{input class="contact-form__ln-in"  type="text" value=lastName}}
  <label class="contact-form__label-add">Address</label>
{{input class="contact-form__add-in" type="text" value=address}}
  <label class="contact-form__label-pn">Phone Number</label>
{{input class="contact-form__pn-in"type="text" value=phoneNumber}}
<button class ="contact-form__submit-btn">submit</button>
</form>

{{outlet}}
